<a href="https://colab.research.google.com/github/Antoni018/inteligenciaArtificial/blob/main/Lunes-10-Junio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!python --version

Python 3.10.12

In [ ]:
myNumber= 3
myNumberDecimal=3.6
state=True

In [ ]:
print(f'valor entero: {myNumber}')
print('valor entero es =',myNumber)
print(f'valor decimal: {myNumberDecimal}')
print('valor decimal es =',myNumberDecimal)
print(f'valor booleano: {state}')
print('valor booleano es =',state)

valor entero: 3
valor entero es = 3
valor decimal: 3.6
valor decimal es = 3.6
valor booleano: True
valor booleano es = True

In [ ]:
aux1=10
aux2=2
print('la suma de las variables aux1 + aux2 =',aux1 + aux2)
print('la resta de las variables aux1 - aux2 =',aux1 - aux2)
print('la multiplicación de las variables aux1 * aux2 =',aux1 * aux2)
print('la divisón de las variables aux1 / aux2 =',aux1 / aux2)
print('la potencia de las variables aux1  ^ aux2 =',aux1**aux2)

la suma de las variables aux1 + aux2 = 12
la resta de las variables aux1 - aux2 = 8
la multiplicación de las variables aux1 * aux2 = 20
la divisón de las variables aux1 / aux2 = 5.0
la potencia de las variables aux1  ^ aux2 = 100

In [ ]:
var1 = 'Hola!'
var2 = 'Wilmer'
print(var1+' '+var2)

Hola! Wilmer

In [ ]:

print(3*var1)

Hola!Hola!Hola!

In [ ]:
num1 = 10
num2 = 10.5

In [ ]:
print ('El tipo del dato 1 es: ', type(num1))
print ('El tipo del dato 2 es: ', type(num2))

El tipo del dato 1 es:  <class 'int'>
El tipo del dato 2 es:  <class 'float'>

In [ ]:
# #MARTES 25 JUNIO 2024
# tmp=list()
# tmp.append(1)
# tmp.append("Wilmer")
# print(tmp)
# tmp.append(2)
# tmp.append("Carlos")
# print(tmp)
# print(tmp[3])
# aux=tmp[3]
# print(aux.upper())

# tmp1='hello!'
# print(tmp1.capitalize())

# aux1=[1,2,3,4,5,6,7,8,9,10]
# print(aux1)

# aux1[4]=10
# print(aux1)

# print(aux1[-1])
# print(aux1[3:7])
# print(aux1[0:5])
# print(aux1[:5])

# aux2=list()
# for i in range(100):
#   aux2.append(i)
# print(aux2[:20])
# pares = [num for num in aux2 if num % 2 == 0]
# print(pares)

aux3=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==0:
    aux3.append(aux2[indx])

print(aux3)

aux4=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==1:
    aux4.append(aux2[indx])

print(aux4)

aux5=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==0:
    aux5.append(aux2[indx]**2)

print(aux5)

animals=['Gato','Perro','Mono','Conejo']
for animal in animals:
  print(animal)

tmp3=[ i**2 for i in range(10) ]
print(tmp3)

pares = [num for num in tmp3 if num % 2 == 0]
print(pares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]
Gato
Perro
Mono
Conejo
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [ ]:
myDictionary={'Gato':'Bonito', 'Perro':'Grande'}
print(myDictionary['Gato'])
myDictux={'Mono':'Negro','Raton':'Pequeño', 'Conejo':'Blanco'}
myDictionary.update(myDictux)
print(myDictionary)
for key, value in myDictionary.items():
  print(f' key : {key} value {value}')

myList=[1,2,3,4,5,6]
myDictux1={x:x**2 for x in myList}
print(myDictux1)

Bonito
{'Gato': 'Bonito', 'Perro': 'Grande', 'Mono': 'Negro', 'Raton': 'Pequeño', 'Conejo': 'Blanco'}
 key : Gato value Bonito
 key : Perro value Grande
 key : Mono value Negro
 key : Raton value Pequeño
 key : Conejo value Blanco
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
def suma(var1, var2, flag):
  if flag==True:
    tmp=var1 + var2
  else:
    tmp=var1 - var2
  return tmp

num1=3
num2=7
control=True
print(suma(num1, num2, control))

10

In [3]:
lista=[-1,+1,0]

def signo(numero):
  if numero > 0:
    return 'Positivo'
  if numero < 0:
    return 'Negativo'
  else:
    return 'No tiene signo'

for numero in lista:
  print(f'El número {numero} es {signo(numero)}')

El número -1 es Negativo
El número 1 es Positivo
El número 0 es No tiene signo

In [15]:
#SET AS A CONTAINER
var1=set()
var1.add(3)
print(var1)
var1.add('Wilmer')
var1.add(True)
print(var1)
var1.add(5)
print(var1)

var1.remove('Wilmer')
print(var1)

print(len(var1))

print(3 in var1)

for elem in var1:
  print(elem)

{3}
{'Wilmer', True, 3}
{'Wilmer', True, 3, 5}
{True, 3, 5}
3
True
True
3
5

In [29]:
#TUPLES
var2 = tuple()
var=(1,2,3,4,5)
print(type(var))
aux=list(var)
print(type(aux))

aux[2]=300
var=tuple(aux)
print(var)
print(type(var))

# nuevo_elemento = 10,'Wilmer', 10
# var2 = var2 + (nuevo_elemento,)
# print(var2)

<class 'tuple'>
<class 'list'>
(1, 2, 300, 4, 5)
<class 'tuple'>

In [37]:
#HOW TO DEFINE A CLASS
class saludo(object):
  def __init__(self,name):
    print("El objeto ha sido creado")
    self.name=name

  def saludoPersonal(self):
    return f"Hola, {self.name}"

name1=saludo('Wilmer')
name2=saludo('Juan')
name3=saludo('Maria')

print(name1.saludoPersonal())
print(name2.saludoPersonal())
print(name3.saludoPersonal())

El objeto ha sido creado
El objeto ha sido creado
El objeto ha sido creado
Hola, Wilmer
Hola, Juan
Hola, Maria

In [46]:
import math

class FiguraGeometrica:
    def __init__(self, tipo):
        self.tipo = tipo

    def calcular_area(self):
        pass

class Circulo(FiguraGeometrica):
    def __init__(self, radio):
        super().__init__("Círculo")
        self.radio = radio

    def calcular_area(self):
        return math.pi * self.radio**2

class Triangulo(FiguraGeometrica):
    def __init__(self, base, altura):
        super().__init__("Triángulo")
        self.base = base
        self.altura = altura

    def calcular_area(self):
        return (self.base * self.altura) / 2

class Cuadrado(FiguraGeometrica):
    def __init__(self, lado):
        super().__init__("Cuadrado")
        self.lado = lado

    def calcular_area(self):
        return self.lado**2

# Ejemplo de uso:
circulo1 = Circulo(5)
triangulo1 = Triangulo(4, 3)
cuadrado1 = Cuadrado(5)

print(f"Área del {circulo1.tipo} con radio {circulo1.radio}: {circulo1.calcular_area()}")
print(f"Área del {triangulo1.tipo} con base {triangulo1.base} y altura {triangulo1.altura}: {triangulo1.calcular_area()}")
print(f"Área del {cuadrado1.tipo} con lado {cuadrado1.lado}: {cuadrado1.calcular_area()}")

Área del Círculo con radio 5: 78.53981633974483
Área del Triángulo con base 4 y altura 3: 6.0
Área del Cuadrado con lado 5: 25

In [64]:
class imprimir:
    def __init__(self, name, age):
        print("El objeto fue creado")
        self.name = name
        self.age = age
    def uppercase(self):
        return f"NOMBRE: {self.name.upper()} Y  LA EDAD: {self.age}"

student1 = imprimir("Wilmer",21)

print(student1.uppercase())

El objeto fue creado
NOMBRE: WILMER Y  LA EDAD: 21

In [59]:
class Calculadora:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def sumar(self):
        resultado = self.x + self.y
        self.verificar_par_impar(resultado)
        return resultado

    def restar(self):
        resultado = self.x - self.y
        self.verificar_par_impar(resultado)
        return resultado

    def multiplicar(self):
        resultado = self.x * self.y
        self.verificar_par_impar(resultado)
        return resultado

    def dividir(self):
        if self.y != 0:
            resultado = self.x / self.y
            self.verificar_par_impar(resultado)
            return resultado
        else:
            raise ValueError("Error: No se puede dividir por cero.")

    def verificar_par_impar(self, numero):
        if numero % 2 == 0:
            print(f"El resultado {numero} es PAR.")
        else:
            print(f"El resultado {numero} es IMPAR.")

# Ejemplo de uso:
calc = Calculadora(10, 2)

print(f"Suma: {calc.sumar()}")
print(f"Resta: {calc.restar()}")
print(f"Multiplicación: {calc.multiplicar()}")
print(f"División: {calc.dividir()}")

El resultado 12 es PAR.
Suma: 12
El resultado 8 es PAR.
Resta: 8
El resultado 20 es PAR.
Multiplicación: 20
El resultado 5.0 es IMPAR.
División: 5.0